@{
    /**/

    ViewBag.Title = "Home Page";
}


<script type="text/javascript">

    $("#btn").on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 8000);
    });
 $(function() {
     $('#btnTranslateText').on('click', function () {
         var text = document.getElementById("textToTranslate").value;
         var translationType = document.getElementById("listBoxTranslationType").value;
         if (text != null && translationType != null) {
             $.ajax({
                type: "POST",
                url: '@Url.Action("TranslateTextAsync")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'text': text, 'translationType': translationType }),
                 dataType: "json", 
                 success: function (response) {
                     if (response.success) {
                         $("#alertTranslatedText").addClass('show');
                         document.getElementById("translatedText").innerText = response.translated;
                     } else {
                         $("#alertErrorTranslating").addClass('show');
                         $("#alertTranslatedText").addClass('hide');
                         if (response.errorCode != null) {
                             document.getElementById("errorMessage").innerText = "Error code: " + response.errorCode + " Message: " + response.errorMessage;
                         }
                         else {
                             document.getElementById("errorMessage").innerText = response.message;
                         }
                    }
                },
                 failure: function (response) {
                     $("#alertErrorTranslating").addClass('show');
                     $("#alertTranslatedText").addClass('hide');
                     document.getElementById("errorMessage").innerText = "Error code: " + response.errorCode + " Message: " + response.errorMessage;
                },
                 error: function (response) {
                     $("#alertErrorTranslating").addClass('show');
                     $("#alertTranslatedText").addClass('hide');
                     document.getElementById("errorMessage").innerText = "Error code: " + response.errorCode + " Message: " + response.errorMessage;
                }
                });
                }
                });
    });


</script>


@Html.AntiForgeryToken()
<div class="card col " style="margin-top:20px; margin-bottom:20px">
    <div class="card-header bg-dark">
        <h2 class="text-white">Translator</h2>
    </div>
    <div class="card-body">
        <div class="col">
            <h3>Text to translate</h3>
            <textarea class="form-control col-12" rows="5" id="textToTranslate"></textarea>
        </div>
        <div class="col">
            <label>Translation type</label>
            <select class="form-control col-3 " id="listBoxTranslationType" align="center">
                <option>leetspeak</option>
                <option>cockney</option>
                <option>fudd</option>
                <option>yoda</option>
            </select>
        </div>
        <div class="col">
            <div type="button" class="btn btn-success col-3" id="btnTranslateText" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Translation is in progres...">Translate text</div>
        </div>
        <div class="col alert alert-success alert-dismissible fade collapse" role="alert" id="alertTranslatedText" aria-hidden="true">
            <h4 class="alert-heading">Translated text</h4>
            <hr />
            <label id="translatedText"> </label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="col alert alert-danger alert-dismissible fade collapse" role="alert" id="alertErrorTranslating" aria-hidden="true">
            <h4 class="alert-heading">Error!</h4>
            <hr />
            <label id="errorMessage"> </label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
